@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --shadow-color-1: #333333;
    --shadow-color-2: #222222;
    --button-color: #ffffff;
}

html {
  height: 100%;
  width: 100%;
  background-color: black;
}

.medtext {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 0;
}

.bigtext {
    font-size: 8em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.glassy {
    color: #111111;
    text-shadow: #ffffff99 1px 1px 1px, #ffffff99 -1px -1px 1px;
}

.glass_box {
    box-shadow: #ffffff99 1px 1px 1px, #ffffff99 -1px -1px 1px;
    background-color: #111111;
}

.about {
    padding: 0;
}

#main {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.button_outer {
    position: relative;
    width: 80%;
    height: 230px;
    overflow: hidden;
    background-color: #111111;
    border: 2px #777777 solid;
    margin-bottom: 26px;
    margin-left: 13px;
    margin-right: 13px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: var(--shadow-color-1, #333333) 0 0 1px, var(--shadow-color-2, #222222) 0 0 0;
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

.button_inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 50%;
    transform: translateY(100%);
    transition: all 0.4s ease;
}

.button_outer:hover {
    box-shadow: var(--shadow-color-1, #333333) 10px 10px 1px, var(--shadow-color-2, #222222) 20px 20px 0;
    border: 4px var(--button-color, #ffffff) solid;
}

.button_outer:hover .button_inner{
    transform: translateY(0);
}

.a_button > p{
    text-decoration: none;
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 4px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.a_button{
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.free_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.free_container > .button_outer {
    width: 500px;
}

.subtext{
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #111111;
}

h1, h2, h3, h4, h5, h6, p, a, strong, b, i, em, sub{
    color: white;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: gray;
}